    <!--player-->
    <div class="center">
      <img
        class="player-image"
        *ngIf="this.images.length > 0"
        [src]="this.images[this.activeImage]"
      >

      <div>
        <button class="button" (click)="prev()">PREV</button>
        <span class="counter"> {{this.activeImage+1}} / {{this.images.length}}</span>
        <button class="button" (click)="next()">NEXT</button>
      </div>
    </div>

    <!--gallery-->
    <div class="gallery">

      <div class="center">
        <form #f="ngForm" (submit)="addImage(f.value.tmb)">
          <input type="text" placeholder="Add new image URL" name="tmb">
          <button class="button" type="button" (click)="generateRandomImage()">Generate Image</button>
        </form>
      </div>

      <div class="image-container">
        <div class="grid">
          <div class="cell" *ngFor="let image of images">
            <img class="responsive-image" [src]="image">
            <span class="icon cursor" (click)="delete(image)">✖</span>
          </div>
        </div>
      </div>
    </div>
